<h1>Web Server NodeJS</h1>
<h2>Halo <%= nama %></h2>

<h4>Daftar orang</h4>
<% if (persons.length < 1) { %>
<p>Data Orang masih kosong</p>
<% } %> <% persons.forEach(person => { %>
<ul>
  <li><%= person.nama %></li>
  <li><%= person.email %></li>
</ul>
<% }) %>
